.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .card {
    background-color: rgb(101, 72, 164);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .profile-circle {
    width: 100px;
    height: 100;
    border-radius: 40%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 20px;
  }
  
  .profile-image {
    width: 15%;
    height: auto;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .profile-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
  }
  
  .profile-text {
    font-size: 18px;
    color: #fff;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .edit-button,
  .back-button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-button {
    background-color: #4caf50;
  }
  
  .back-button {
    background-color: #f44336;
  }
  