.bulletin{
    padding: 0 0 2rem 0;
    width: 100%;
    height: 100%;
    background-color: #dfe6e9;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

}